<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<script src="/js/script.js"></script>

<!-- Footer -->
<footer class="bg-dark text-light mt-5">
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3">
                <h5>PVA Panel</h5>
                <p>Your trusted source for premium PVA accounts. Quality and reliability guaranteed.</p>
            </div>
            <div class="col-lg-3">
                <h5>Services</h5>
                <ul class="list-unstyled">
                    <li><a href="/gmail-pva" class="text-light">Gmail PVA Accounts</a></li>
                    <li><a href="/instagram-pva" class="text-light">Instagram PVA Accounts</a></li>
                    <li><a href="/facebook-pva" class="text-light">Facebook PVA Accounts</a></li>
                    <li><a href="/linkedin-pva" class="text-light">LinkedIn PVA Accounts</a></li>
                    <li><a href="/youtube-pva" class="text-light">YouTube PVA Accounts</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5>Company</h5>
                <ul class="list-unstyled">
                    <li><a href="/about" class="text-light">About Us</a></li>
                    <li><a href="/privacy" class="text-light">Privacy Policy</a></li>
                    <li><a href="/blog" class="text-light">Blog</a></li>
                </ul>
            </div>
            <div class="col-lg-3">
                <h5>Payment Methods</h5>
                <div class="d-flex">
                    <i class="fab fa-cc-visa fa-2x me-2"></i>
                    <i class="fab fa-cc-mastercard fa-2x me-2"></i>
                    <i class="fab fa-cc-paypal fa-2x me-2"></i>
                    <i class="fab fa-bitcoin fa-2x me-2"></i>
                    <i class="fab fa-ethereum fa-2x"></i>
                </div>
            </div>
        </div>
        <hr class="mt-4 mb-4">
        <div class="row">
            <div class="col-12 text-center">
                <p>&copy; 2025 PVA Panel. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>

</body>
</html>
